@use "include-media" as *;
@use "../../../styles/variables.scss" as *;

.article {
  position: relative;
  width: 100%;
  max-width: 30rem;
  padding: $spacing-md 0;
  transition-property: box-shadow;
  transition-duration: $transition-fast;
  border-bottom: $border;
  border-color: $color-primary-dim;
  margin-bottom: $spacing-sm;
}

.article.list {
  max-width: 44rem;
  padding: initial;
  border: initial;
  margin-bottom: initial;
}

.grid {
  cursor: pointer;
  position: relative;
  height: 100%;

  .title {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    line-height: 1.2rem;
    max-height: 2.4rem;
    white-space: break-spaces;
  }

  .image:hover {
    border-color: $color-secondary;
  }
}

.header {
  width: 100%;
}

.header.list {
  width: 100%;
  padding: initial;
}

.image {
  cursor: pointer;
  height: 20rem;
  width: 100%;
  border-radius: $border-radius-xs;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: border-color $transition-fast;
}

.image.compact {
  width: 10rem;
  height: 10rem;
  border-radius: $border-radius-sm;
}

.tags {
  position: absolute;
  top: $spacing-lg;
  right: $spacing-sm;
}

.grid > .tags {
  top: $spacing-sm;
  right: $spacing-sm;
}

.category {
  cursor: pointer;
  backdrop-filter: brightness(0.8) blur(5px);
  -webkit-backdrop-filter: brightness(0.8) blur(5px);
  transition: backdrop-filter $transition-fast;
}

.showcase {
  position: relative;
  border-radius: $border-radius-xs;
  overflow: hidden;

  .sourceLogoBox {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    align-items: center;
    padding: $spacing-sm;
    background-color: white;
    border-radius: $border-radius-xs;
    box-shadow: $shadow-sm;

    img {
      max-height: 1rem;
    }
  }
}

.overlay {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 100%;
  backdrop-filter: brightness(0.5) blur(20px);
  text-align: center;
  color: white;
  white-space: break-spaces;
}

.content {
  width: calc(100% - 0.5rem);
  padding: $spacing-xs;
}

.sourceLogo {
  cursor: pointer;
  max-height: 1rem;

  img {
    max-height: 1rem;
    filter: brightness(0) opacity(0.3);
    transition-property: filter;
    transition-duration: $transition-fast;
  }
}

.sourceLogo {
  img:hover {
    filter: brightness(1) opacity(1);
  }
}

.action {
  cursor: pointer;
  opacity: 0.6;
}

.action:hover {
  opacity: 1;
}

.more {
  cursor: pointer;
}

.title {
  cursor: pointer;
}

.description {
  cursor: pointer;
  margin: initial;
}

.keyword {
  cursor: pointer;
  transition: background-color $transition-fast;
}

.keyword:hover {
  color: $color-primary !important;
  background-color: $color-background-dim !important;
}

@media (prefers-color-scheme: dark) {
  .sourceLogo {
    filter: brightness(0) invert(1);
  }

  .sourceLogo:hover {
    filter: brightness(0) invert(1);
    opacity: 0.8;
  }

  .keyword:hover {
    color: $color-secondary !important;
    background-color: $color-background-dim !important;
  }
}

@include media(">phone", "<tablet") {
  .article {
    padding: initial;
    border: initial;
    max-width: 100%;

    .image {
      border-radius: initial;
      height: 10rem;
    }

    .content {
      width: calc(100% - 1.4rem);
      padding: $spacing-xs 0.7rem;
      padding-bottom: $spacing-sm;
    }

    .tags {
      top: $spacing-sm;
      right: $spacing-sm;
    }
  }

  .list {
    max-height: 8rem;

    .image {
      width: 8rem;
      height: 8rem;
    }

    .content {
      padding-left: $spacing-sm;
    }
  }

  .showcase {
    border-radius: initial;
  }
}
