@use "../../../styles/variables.scss" as *;

.row {
  height: 14rem;
}

.column {
  height: 100%;
}

.item {
  position: relative;
  height: calc(100% - $spacing-sm * 2);
  width: calc(100% - $spacing-md * 2);
  cursor: pointer;
  border: $border;
  border-radius: $border-radius-md;
  overflow: hidden;
  transition-duration: $transition-fast;
  transition-property: box-shadow, opacity;
  transition-timing-function: ease-in-out;
}

.item:hover {
  opacity: 0.9;
  box-shadow: $shadow-md;
}

.logo {
  max-width: 80%;
  max-height: 1rem;
  margin-bottom: $spacing-md;
  filter: brightness(0) invert(1);
}

.banner {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.toggle {
  position: absolute;
  top: $spacing-sm;
  right: $spacing-sm;
  display: flex;
  align-items: center;
  padding: $spacing-xs;

  background-color: $color-background-dim;
  border-radius: 50%;

  svg {
    stroke: $color-secondary;
  }
}
