@use "../../../styles/variables.scss" as *;

.article {
  position: relative;
  width: 100%;
  max-width: 30rem;
  padding: $spacing-md 0;
  transition-property: box-shadow;
  transition-duration: $transition-fast;
  border-bottom: $border;
  border-color: $color-primary-dim;
  margin-bottom: $spacing-sm;
}

.article.compact {
  max-width: 100%;
  padding: initial;
  border: initial;
  margin-bottom: initial;
}

.grid {
  height: 100%;
}

.grid:hover {
  background-color: $color-background-dim;
}

.header {
  width: 100%;
}

.header.compact {
  width: 100%;
  padding: initial;
}

.image {
  cursor: pointer;
  height: 20rem;
  width: 100%;
  border-radius: $border-radius-xs;
  border: $border;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

.image.compact {
  width: 10rem;
  height: 10rem;
  border-radius: $border-radius-sm;
}

.category {
  cursor: pointer;
  position: absolute;
  top: $spacing-lg;
  right: $spacing-sm;
  backdrop-filter: brightness(0.8) blur(5px);
  -webkit-backdrop-filter: brightness(0.8) blur(5px);
  transition: backdrop-filter $transition-fast;
}

.content {
  width: calc(100% - 1rem);
  padding: $spacing-xs;
}

.sourceLogo {
  cursor: pointer;
  max-height: 1rem;
  filter: grayscale(1) brightness(1.5);
  transition-property: filter, box-shadow;
  transition-duration: $transition-fast;
}

.sourceLogo:hover {
  filter: grayscale(0) brightness(1);
}

.action {
  cursor: pointer;
}

.more {
  cursor: pointer;
}

.title {
  cursor: pointer;
}

.title:hover {
  text-decoration: underline;
}

.description {
  cursor: pointer;
  margin: initial;
}

@media (prefers-color-scheme: dark) {
  .invert {
    filter: brightness(0) invert(1);
  }
  .invert:hover {
    filter: brightness(0) invert(1);
  }
}
