@use "../../../styles/variables.scss" as *;

.article {
  width: 100%;
  max-width: 30rem;
  padding-bottom: 0.6rem;
  transition-property: box-shadow;
  transition-duration: $transition-fast;
}

.article.compact {
  max-width: 100%;
  padding: initial;
}

.image {
  cursor: pointer;
  height: 20rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

.compact.image {
  width: 10rem;
  height: 10rem;
  border-radius: $border-radius-sm;
}

.content {
  width: calc(100% - 1rem);
  padding: $spacing-xs $spacing-sm;
}

.sourceLogo {
  cursor: pointer;
  max-height: 1rem;
  filter: grayscale(1) brightness(1.5);
  transition-property: filter, box-shadow;
  transition-duration: $transition-fast;
}

.sourceLogo:hover {
  filter: grayscale(0) brightness(1);
}

.action {
  cursor: pointer;
}

.more {
  cursor: pointer;
}

.title {
  cursor: pointer;
}

.title:hover {
  text-decoration: underline;
}

.description {
  cursor: pointer;
  margin: initial;
}
