@use "../../../styles/variables" as *;

.container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.message {
  width: calc(100% - 6rem);
  padding: $padding-lg;
  margin: auto;
}
