@use "../../../styles/variables" as *;

.outlet {
  height: 100vh;
  overflow-y: auto;
}

@media (prefers-color-scheme: dark) {
  .outlet {
    background-color: $color-background;
    color: $color-secondary;
  }
}

@media (display-mode: standalone) {
  .outlet {
    padding-top: env(safe-area-inset-top);
  }
}