@use "../../../styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  font-weight: 500;
}

.input {
  padding: $padding-sm;

  border: $border;
  border-radius: $border-radius;
}

.error {
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  color: $color-error;
}
